/*import*/
@import url("https://fonts.googleapis.com/css?family=Playfair Display");

div.container{
  background-image: url("https://i.pinimg.com/736x/c3/b9/f3/c3b9f35f2bf432a0d95afb5f287aa9e4.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 5px;
}

.nav-bar>a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: x-large;
  float: right;
}

div.paragraph1{
  color: #E98074;
  font-size: large;
  font-weight: bold;
  text-align: center;
  border: 2px solid #8E8D8A;
  box-shadow: 5%;
  padding: 2px;
  margin: 2px;
  border: 2px;
}

table, th, td {
  border: 3px solid white;
  border-collapse: collapse;
  border-style: solid;
  padding: 10px;
  color: #E85A47;
  font-weight: bold;
}

.male-female{
  display: flex;
  flex-direction: row;
  position: relative;
}

#intro-calc{
  font-size: 20px;
  font-weight: bold;
  color: #E85A4F;
  text-align: center;
  border: 2px solid #8E8D8A;
}

#name{
  text-align: left;
  color: #E85A47;
}

.filled{
  text-align: center;
  color: #E85A4F;
  font-weight: bold;
}

#name{
  text-align: center;
  color: #E85A4F;
  text-decoration: underline;
}


button{
  text-align: center;
  width: 10%;
  height: 10%;
  font-weight: bold;
  color: white;
  background-color: #E85A4F;
  border-radius: 18px;
}